{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Twitter Usd correlation</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="The DC project"/>
<meta charset="UTF-8"> 

<link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
		<div id="headshot" class="quickFade">
			<img src="{% static 'images/tic.png' %}" alt="Distributed Computing" />
		</div>
		
		<div id="name">
			<h1 class="quickFade delayTwo">TICS</h1>
			<h2 class="quickFade delayThree">Distributed Computing</h2>
		</div>
		
		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li>César Arcos González</li>
				<li> racec9999@gmail(.)com</li>
				<li>Saúl Armas Gamiño</li>
				<li> luasikirfl@gmail(.)com</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>Project info</h1>
				</div>
				
				<div class="sectionContent">
					<p>Our goal is to find correlation between the amount of tweets with #DonaldTrump and the price od the usa dollar in Mexican pesos. We get daily twitter data using the python library named Tweepy and the usa dollar price with Forex-python.We have two charts, one with all the data and other from the last 5 days</p>
				</div>
			</article>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Charts</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>All data</h2>
					<img src="{% static 'images/alldata.png' %}" width='450' height='300'  alt="All data chart" />
				</article>
				
				<article>
					<h2>Last five days</h2>
					<img src="{% static 'images/5days.png' %}" width='450' height='300'  alt="All data chart" />
				</article>
				</article>
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>University</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2> UNAM Escuela Nacional de Estudios Superiores Unidad Morelia</h2>
					<p class="subDetails">Address</p>
					<p>Antigua Carretera a Pátzcuaro No. 8701<br> Col. Ex Hacienda de San José de la Huerta<br> C.P. 58190 Morelia, Michoacán, México</p>
				</article>
				
			</div>
			<div class="clear"></div>
		</section>
		
	</div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3753241-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>
</body>
</html>
